/* CSS DOCUMENT */
@charset "UTF-8";
/*configuraciones generales*/

@font-face {
    font-family: "Archivo Regular";
    src: url(fuentes/Archivo-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Archivo Italic";
    src: url(fuentes/Archivo-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Archivo MediumItalic";
    src: url(fuentes/Archivo-MediumItalic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Boska BlackItalic";
    src: url(fuentes/Boska-BlackItalic.ttf) format(truetype);
    font-weight: bolder;
    font-style: normal;
}

* {
    font-family: 'Archivo Regular', sans-serif;
    background-color: #F7F1E8;
    color: #1A1AA2;
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    box-sizing: 0;
    gap: 20px;
}

/*empiezan las aplicaciones*/

h1 {
    font-family: 'Boska BlackItalic', serif;
    font-size: 5rem;
}

h2,
h3 {
    font-family: 'Archivo Italic', sans-serif;
}

/*la botonera*/
header {
    display: flex;
    justify-content: center;
}

ul {
    background-color: #1A1AA2;
}

.botonera {
    background-color: #1A1AA2;
    color: #F7F1E8;
    padding: 10px 60px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    width: 800px;
}

a {
    text-decoration: none;
    background-color: #1A1AA2;
    color: #F7F1E8;
    padding: 10px;
    gap: 20px;
}

/*el footer*/

/*index*/

/*sobre mi*/

#breve-intro,
#formacion-academica,
#experiencia-laboral {
    border: solid #1A1AA2;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.caja-a {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.caja-b {
    display: flex;
    gap: 20px;
}

/*contactame*/

#general-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario-contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #1A1AA2;
    padding: 30px;
    border-radius: 25px;
}

.form-grupo,
input,
textarea {
    display: flex;
    flex-direction: column;
    border: none;
}
