/* CSS DOCUMENT */
@charset "UTF-8";
/*configuraciones generales*/

@font-face {
    font-family: "Archivo Regular";
    src: url(fuentes/Archivo-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Archivo Italic";
    src: url(fuentes/Archivo-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Archivo MediumItalic";
    src: url(fuentes/Archivo-MediumItalic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Boska BlackItalic";
    src: url(fuentes/Boska-BlackItalic.ttf) format(truetype);
    font-weight: bolder;
    font-style: normal;
}

* {
    font-family: 'Archivo Regular', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

/*empiezan las aplicaciones*/

body {
    background-color: #F7F1E8;
    color: #1A1AA2;
}

h1 {
    font-family: 'Boska BlackItalic', serif;
    font-size: 9rem;
    line-height: 1;
}

h2 {
    font-family: 'Boska BlackItalic', serif;
    font-size: 4rem;
}

h3 {
    font-family: 'Archivo Italic', sans-serif;
    font-size: 25px;
}

h4 {
    font-family: 'Archivo Italic', sans-serif;
}

/*la botonera*/
header {
    display: flex;
    justify-content: center;
}

.botonera {
    background-color: #1A1AA2;
    color: #F7F1E8;
    padding: 10px 60px;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    width: 800px;
}

#botones {
    padding: 0px;
}

.boton {
    text-decoration: none;
    color: #F7F1E8;
    padding: 10px;
}

a:hover {
    font-family: Boska BlackItalic;
}

/*------lo que esta en el costado en todos lados------*/

.costado {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid #1A1AA2;
    border-radius: 0px 20px 20px 0px;
    position: fixed;
    left: 0;
    padding: 10px;
    top: 30%;
}

#acostado {
    background-color: #F7F1E8;
    padding: 0px;
}

/*------el footer------*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
    margin-top: 4rem;
}

#textos-abajo {
    display: flex;
    flex-direction: column;
}

#textos-abajo p {
    font-family: 'Archivo MediumItalic', sans-serif;
    font-size: 12px;
}

audio {
    width: 300px;
}

/*------index------*/

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
}

#hero h2 {
    font-family: 'Archivo Italic';
    line-height: 1;
}

/*------sobre mi------*/

#sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#breve-intro,
#formacion-academica,
#experiencia-laboral {
    border: solid #1A1AA2;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: 1rem;
    max-width: 800px;
    min-width: 800px;
}

#breve-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#caja-o {
    display: flex;
    justify-content: center;
}

#programas,
#habilidades {
    background-color: #1A1AA2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 25px;
    margin: 1rem;
}

#programas h3,
#habilidades h3,
#item {
    background-color: #1A1AA2;
    color: #F7F1E8;
    list-style-type: none;
}

#habilidades {
    display: flex;
    flex-direction: row;
}

#lista-de-habilidades {
    margin: 0px;
    padding: 0px;
}

#losprogramas {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.caja-a {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.caja-b {
    display: flex;
    gap: 20px;
}

/*------contactame------*/

#general-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario-contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #1A1AA2;
    padding: 30px;
    border-radius: 25px;
    margin: 1rem;
}

.form-grupo,
textarea {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #1A1AA2;
    padding-bottom: 1rem;
}


.form-grupo label {
    background-color: #1A1AA2;
    color: #F7F1E8;
}

.form-grupo input {
    height: 56px;
    padding: 0px 15px;
    border: none;
    border-radius: 15px;
}

#Consulta {
    background-color: #F7F1E8;
    height: 150px;
    padding: 15px;
    border-radius: 15px;
}

.form-botones {
    background-color: #1A1AA2;
    display: flex;
    justify-content: space-between;
}

.boton-borrar,
.boton-enviar {
    color: #F7F1E8;
    background-color: #1A1AA2;
    border-color: #F7F1E8;
}

.boton-borrar,
.boton-enviar {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    font-family: 'Boska BlackItalic';
    font-size: 1rem;
}

.boton-enviar:hover,
.boton-borrar:hover {
    background-color: #F7F1E8;
    color: #1A1AA2;
}


/*------trabajos------*/
#Trabajos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#acordeon {
    margin: 1rem;
}

details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

summary {
    background-color: #1A1AA2;
    color: #F7F1E8;
    padding: 10px;
    margin: 4px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    width: 500px;
    font-family: 'Archivo Italic', sans-serif;
}

.galeria-imagenes {
    display: grid;
    grid-template-columns: 260px 260px 260px;
    grid-gap: 20px;
    margin: 1rem;
}

.imagen {
    border-radius: 25px;
}

.galeria-diseño {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 20px;
}

summary:hover {
    background-color: #F7F1E8;
    color: #1A1AA2;
    border: solid #1A1AA2;
}

@media screen and (max-width: 500px) {
    footer {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px 10px 10px 10px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    #textos-abajo {
        display: flex;
        align-items: center;
    }

    .costado {
        position: initial;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: none;
        list-style-type: none;
    }

    #hero {
        margin: 6rem;
    }

    #hero h1 {
        font-size: 4rem;
    }

    #hero h2 {
        font-size: 2rem;
    }

    .botonera {
        border-radius: 0px;
        margin: 0px;
        padding: 10px;
    }
}

/*galeria*/
#galeria {
    display: none;
    width: 100%;
    justify-content: center;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 10;
}

#galeria-oculta {
    display: flex;
    width: 100%;
    max-width: 1450px;
    overflow: hidden;
    z-index: 20;
}

.fraccion {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-width: 1450px;
    height: 100vh;
    justify-content: space-around;
}

.primer-ultima-flecha {
    visibility: hidden;
}

.close {
    position: absolute;
    top: 25px;
    right: 2%;
}

#fondo-galeria{
    background-color: black;
    opacity: 0.9;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

/*fotos*/
#foto-1 {
    background-image: url(img/foto-1.jpg);
}

#foto-2 {
    background-image: url(img/foto-2.jpg);
}

#foto-3 {
    background-image: url(img/foto-3.jpg);
}

#foto-4 {
    background-image: url(img/foto-4.jpg);
}

#foto-5 {
    background-image: url(img/foto-5.jpg);
}

#foto-6 {
    background-image: url(img/foto-6.jpg);
}

#foto-7 {
    background-image: url(img/foto-7.jpg);
}

#foto-8 {
    background-image: url(img/foto-8.jpg);
}

#foto-9 {
    background-image: url(img/foto-9.jpg);
}

/*fin de fotos*/
/*fin de galaeria*/